vm_memory_calculation_strategy = {{ allocation_strategy }}
disk_free_limit.absolute = {{ disk_limit }}
raft.wal_data_dir = {{ wal_data_dir }}
raft.segment_max_entries = {{ raft_segment_max_entries }}
log.file.level = {{ log_level }}