{
    "policies": [
        {
            "name": "quorum-queues",
            "applyTo": "queues",
            "pattern": "",
            "priority": 0,
            "properties" : [
                { "key": "x-queue-type", "value": "quorum", "type": "string" },
                { "key": "x-quorum-initial-group-size", "value": "3", "type": "int" },
                { "key": "x-max-in-memory-length", "value": "{0}", "type": "int" }
            ]
        }
    ]
}